.content-section {
  box-sizing: border-box;
  width: 100%;
  margin: auto;
  padding: 0 50px;
  margin-bottom: 180px;
}

/*heder*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 94px;
  padding-bottom: 94px;
  margin-bottom: 0;
}

.header__menu {
  flex-basis: 400px;
  flex-grow: 1;
}

.header__menu-list {
  display: flex;
  gap: 34px;
  list-style-type: circle;
}

.header__menu-item_active {
  list-style-type: none;
}

.header__menu-item_active .header__menu-link {
  text-decoration: none;
}

.header__menu-link {
  font-size: 18px;
}

.header__logo {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  flex-basis: 400px;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.header__contacts {
  font-style: normal;
  flex-grow: 1;
  flex-basis: 400px;
  align-items: flex-end;
}

.header__contacts-address {
  width: 240px;
}

.contacts {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 24.3px;
  list-style: none;
}

/*cover*/
.cover {
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  min-height: 757px;
  padding-top: 165px;
}

.lens {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.cover__title {
  color: #fff;
  font-size: 100px;
  font-weight: 700;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  padding-bottom: 135px;
  position: relative;
  z-index: 1;
}

.cover__title-accent-span {
  display: block;
}

.cover__title-indent {
  letter-spacing: 0.6em;
}

.accent-span {
  display: block;
  margin-top: 20px;
  line-height: 1;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.cover__title-indent-reset-space {
  letter-spacing: 0;
}

.cover__text-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 78px;
  position: relative;
  z-index: 1;
}

.cover__title-text {
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  word-spacing: 18px;
}

.cover__btn {
  width: 257px;
  height: 52px;
  border: 1px solid #fff;
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0);
}

/*lots*/
.lots {
  display: flex;
  flex-direction: column;
}

.lots__title {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 0 27px 40px;
}

.lots__cards {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: #fff;
  gap: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  display: block;
  background-size: cover;
  min-height: 450px;
  width: 430px;
  flex-grow: 1;
}

.card__lot {
  text-decoration: none;
  height: 100%;
}

.card__article {
  height: 100%;
  width: 100%;
  padding: 50px 40px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  background-size: cover;
}

.card__title {
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
}

.lots__card-film {
  background-image: url(../images/card-lot-01.jpg);
}

.lots__card-book {
  background-image: url(../images/card-lot-02.jpg);
}

.lots__card-picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__more {
  font-size: 20px;
  padding: 30px 0 0 40px;
}

/*about*/
.about {
  display: grid;
  grid-template-columns: 430px 1fr;
  justify-content: space-between;
  gap: 25px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 50%;
  margin: auto;
  height: 240px;
  width: 240px;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  font-size: 40px;
  text-transform: uppercase;
  margin: 100px 0;
}

.about__content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 20px;
}

/*footer*/
.footer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 90px;
  margin-bottom: 0;
}

.footer__contacts {
  font-style: normal;
}

.footer__contacts-address {
  width: 240px;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  font-size: 18px;
  text-underline-offset: 3px;
  padding-top: 1px;
}

.footer__menu-item_active {
  text-decoration: none;
}

.footer__social-links {
  display: flex;
  justify-content: flex-end;
  gap: 48px;
  list-style: none;
}

.footer__social-image {
  width: 48px;
  height: 48px;
}
